@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-main: #50B848;
    --color-primary: #000000;
    --color-secondry: #FFFFFF
    --color-paragraph: #6a7282;
    --color-grayBorder: #e5e7eb;

    /* ? Dark Mode */
    --color-mainD: #000a1c;
    --color-primaryD: #ffffff;
    --color-secondryD: #000000;
}

/*
  - Cards:
  - Border Color: border-gray-200;
  - Dark Mode: border-slate-700

  hover:
  - background color: bg-gray-50
*/

/* ? Start Css globel reset */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .3s;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button {
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    font-size: 15px;
    border-radius: calc(infinity * 1px);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    transform: scale(1.08);
}

.main-link {
  color: var(--color-main);
  font-weight: bold;
}

.main-link:hover {
  transform: scale(1.08);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

#section .container {
  margin-top: 60px;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ? End Css globel reset */

/* Animations */
@keyframes float1 {
    0%, 100% { transform: translate(0, 0); }
     50% { transform: translate(20px, 20px); }
}

@keyframes float2 {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(-15px, 15px); }
}

@keyframes float3 {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(0, -20px); }
}
.animate-float1 { animation: float1 8s ease-in-out infinite; }
.animate-float2 { animation: float2 10s ease-in-out infinite; }
.animate-float3 { animation: float3 12s ease-in-out infinite; }

/* Orb follow effect */
.orb {
    transform: translate(-50%, -50%);
    opacity: 0.3;
    transition: transform 0.1s ease-out;
}

/* Dark Mode */
.dark-mode {
    background-color: var(--color-main-dark);
    
}