  @import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-main: #50B848;
    --color-primary: #000000;
    --color-secondry: #FFFFFF
    --color-paragraph: #6a7282;
    --color-grayBorder: #e5e7eb;

    /* ? Dark Mode */
    --color-mainD: #000a1c;
    --color-primaryD: #ffffff;
    --color-secondryD: #000000;
}

/*
  - Cards:
  - Border Color: border-gray-200;
  - Dark Mode: border-slate-700

  hover:
  - background color: bg-gray-50
*/

/* ? Start Css globel reset */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .3s;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button {
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    font-size: 15px;
    border-radius: calc(infinity * 1px);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    transform: scale(1.08);
}

.main-link {
  color: var(--color-main);
  font-weight: bold;
}

.main-link:hover {
  transform: scale(1.08);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

#section {
  margin: 100px 0;
}

/* Instagram Linear Gradient Background */
.gradient {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 50%;
  margin-left: auto;
}

/* Whatsapp Button */
.top {
    z-index: 1903487;
    right: -200px;
}

.active {
    right: 10px;
}


/* top  Scroller */
.scroller {
  z-index: 999999;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ? End Css globel reset */
